# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.ConsoleApp12.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\pawel\RiderProjects\ConsoleApp12\.idea\.idea.ConsoleApp12\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
